<!-- Modal -->
<div class="modal fade" id="exampleModal1-{{ task.id }}" tabindex="-1" aria-labelledby="exampleModalLabel1-{{ task.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel1-{{ task.id }}">Edit task</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('edit_task', id = task.id) }}" method="post">
                <div class="form-group">
                    <input type="text" name="title" id="title" placeholder="Title" class="form-control" required autofocus value="{{ task.title }}">
                    <input type="text" name="task" id="task" placeholder="Task description" class="form-control my-2" required value="{{ task.task }}">
                </div>
                <div class="d-grid gap-2 pb-2">
                    <button class="btn btn-primary rubik" type="submit"">
                        <i class="fa-solid fa-pen-to-square"></i>
                        Edit task
                    </button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>